<ion-header>
  <ion-toolbar>
    <ion-title> Sobre </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1> Olá! Eu sou Marcelo, estudante de Análise e Desenvolvimento de Sistemas.</h1>

  <p>Olá! Meu nome é Marcelo, sou estudante de Análise e Desenvolvimento de Sistemas e apaixonado por tecnologia,
    inovação e tudo que envolve transformar ideias em soluções digitais. 
    Desde que entrei no curso, venho me dedicando a aprender não apenas linguagens de programação,
    mas também a lógica por trás dos sistemas que movem o mundo moderno.
  </p>

  <p>
    Sempre fui curioso por entender como as coisas funcionam — especialmente no universo digital.
    Meu objetivo é me tornar um desenvolvedor completo, capaz de criar aplicações que sejam úteis, intuitivas e escaláveis. 
    Gosto de desafios e acredito que cada erro é uma oportunidade de aprendizado.
  </p>

  <p>
    Competências em desenvolvimento
    Programação em Java, Python e JavaScript
    Criação de sites e aplicações web com HTML, CSS e React
    Modelagem e gerenciamento de banco de dados com MySQL
    Noções de segurança da informação e redes
  </p>

    <ion-button [routerLink]="['/home']" expand="block" color="secondary">
    Ver mais sobre mim
  </ion-button>
  
</ion-content>
