<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Cartão de Identificação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cartão de Identificação</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Foto de perfil" src="assets/imagens/Perfil foto.jpg" />
    <ion-card-header>
      <ion-card-title>Marcelo Su Zhu Shuntian</ion-card-title>
      <ion-card-subtitle>Matrícula - 24104344</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Cursante do Quarto período de ADS (Análise e Desenvolvimento de Sistemas)
    </ion-card-content>
  </ion-card>

  
  <ion-button [routerLink]="['/sobre']" expand="block" color="secondary">
    Ver mais sobre mim
  </ion-button>
  
</ion-content>

